<Config>
	<Debug>1</Debug>
	<!--<WebServiceUrl>http://192.168.1.212:30000/FlexWebService.asmx?wsdl</WebServiceUrl>-->
	<WebServiceUrl>http://localhost:20867/FlexWebService.asmx?wsdl</WebServiceUrl>
	<ServerIp>192.168.1.212</ServerIp>
	<ServerPort>4321</ServerPort>
	<Stations>
		<Station>桃花源驱动站</Station>
		<Station>桃花源回转站</Station>
		<Station>中天门驱动站</Station>
		<Station>中天门回转站</Station>
	</Stations>
</Config>