<Config>
	<!--<WebServiceUrl>http://192.168.1.212:30000/FlexWebService.asmx?wsdl</WebServiceUrl>-->
	<WebServiceUrl>http://localhost:1749/FlexWebService.asmx?wsdl</WebServiceUrl>
	<ServerIp>192.168.1.212</ServerIp>
	<ServerPort>4321</ServerPort>
	<Stations>
		<Station>
			<SName>桃花源驱动站</SName>
			<AlarmValue>50</AlarmValue>
		</Station>
		<Station>
			<SName>桃花源回转站</SName>
			<AlarmValue>50</AlarmValue>
		</Station>
		<Station>
			<SName>中天门驱动站</SName>
			<AlarmValue>50</AlarmValue>
		</Station>
		<Station>
			<SName>中天门回转站</SName>
			<AlarmValue>50</AlarmValue>
		</Station>
	</Stations>
</Config>